body { margin: 0; }

@font-face {
  font-family: DIN Alternate;
  src: url(https://raw.githubusercontent.com/ehzzzd/ETV/refs/heads/main/Tickers/ticker-ev/Fonts/DIN%20Alternate%20Medium.ttf);
  font-weight: Medium;
}

.ticker-wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  background-color: ; 
}
.ticker {
  display: inline-block;
  margin-top: 30px;
  animation: marquee 50s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 50s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;   
  font-family: medium;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}
